*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    font-family: "Helvetica Neue";
}

body > div{
    margin:auto;
    
}
.btn{
    display:inline-block;
    text-decoration: none;
    background-color: transparent;
    border:none;
    outline:none;
    color:#fff;
    padding:12px 48px;
    border-radius:50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn+ .btn{
    margin-left:20px;
}
.btn--success{
    background-color: #71be34;
}
.btn--info{
    background-color:#2f86eb;
}

.btn--warn{

    background-color: #ffb702
}

.btn--danger{
    background-color: #ff623d;       
}
.btn--disabled{
    opacity: 0.8 !important;
    cursor: default;
    background-color: #ccc
}
#toast{
    position: fixed;
    top:32px;
    right:32px;
    z-index: 1000000000;
    
}
.toast{
     display: flex;
     align-items: center;
     background-color: #fff;
     border-radius:2px;
     padding:20px 0;
     border-left:4px solid ;
     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
     min-width: 400px;
     max-width:450px;
     transition: all linear 0.3s;
     
}
@keyframes slideInleft {
    from{
        opacity: 0;
        transform:translateX(calc(100% + 32px));
    }
    to{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes Fadeout {
    to{
        opacity:0 ;
    }
}
.toast+ .toast{
    margin-top:24px;
}
.toast__close,
.toast__icon{
    padding: 0 16px;
}
.toast__icon{
    font-size:24px;
}

.toast__body{
    flex-grow:1;
}

.toast__title{
    font-size:16px;
    font-weight: 600;
    color:#333;
}

.toast__message{
    font-size:14px;
    margin-top: 6px;
    color:#888;
    line-height: 1.4px;
}

.toast__close{
    font-size:20px;
    color:rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
.toast__close:hover{
    opacity: 0.8;
}

.toast--success{
  border-color: #47d864;
}
.toast--success .toast__icon{
   color: #47d864;
}
.toast--info{
    border-color:#2f86eb;
}
.toast--info .toast__icon{
    color:#2f86eb;
}
.toast--warning{
    border-color:#ffc023;
}
.toast--warning .toast__icon{
    color:#ffc023;
}
.toast--error{
    border-color:#ff623d;
}
.toast--error .toast__icon{
    color:#ff623d ;
}

